.col-md-12
  = LeafletMap({:mapid => 'lmap',
    :markers => @markers,
    :tile_provider => Rails.application.config.map_tile_provider,
    :map_key => Rails.application.config.map_tile_key,
    :access_token => Rails.application.config.map_access_token,
    :min_zoom => Rails.application.config.map_min_zoom_level,
    :max_zoom => Rails.application.config.map_max_zoom_level,
    :class => "map",
    :style => "height:400px;"})

.col-md-12
  = render :partial => 'assets/asset_table', :locals => {:assets => @assets}

= yield :scripts

= render 'index_scripts'
