%li.nav-item.dropdown{:class => get_nav_link_class(['workorders'])}
  = link_to inventory_index_path, :class => "dropdown-toggle", :data => {"toggle" => "dropdown"} do
    %i.fa.fa-globe.fa-2x
    %br
    = " Map"
    %b.caret
