- if Rails.application.config.transam_spatial_map_options.include? 'map_page'
  %li.divider
  %li.text-left
    = link_to map_maps_path do
      Map
  - if can?(:manage, MapOverlayService)
    %li.text-left
      = link_to map_overlay_services_path do
        Manage Overlay Services