= LeafletMap({:mapid => 'lmap',
  :markers => @asset.map_markers.to_json,
  :tile_provider => Rails.application.config.map_tile_provider,
  :map_key => Rails.application.config.map_tile_key,
  :access_token => Rails.application.config.map_access_token,
  :min_zoom => Rails.application.config.map_min_zoom_level,
  :max_zoom => Rails.application.config.map_max_zoom_level,
  :class => "map",
  :style => "height:400px;"})

= yield :scripts
