:javascript

    // Capture the show event and re-render the map
    $("a[href='#maps']").on('shown.bs.tab', function(e) {
      invalidateMap();
    });

    $(window).load(function() {
      invalidateMap();
    });
