:javascript

  // Capture the show event and re-render the map
  $("a[href='#map']").on('shown.bs.tab', function(e) {
    invalidateMap();
  });

  $(window).laod(function() {
    invalidateMap();
  });
